# SQLite veritabanı dosyalarını hariç tut
*.sqlite3

# __pycache__ dizinlerini hariç tut
__pycache__/

#
settings.py
backend/backend/settings.py
backend/api/__pycache__/admin.cpython-312.pyc
/backend/api/__pycache__
